/* libre-baskerville-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/libre-baskerville-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* libre-baskerville-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/libre-baskerville-v24-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
*{
  box-sizing: border-box;
}
body{
  font-family: Plus Jakarta Sans;
  margin: 0;
}
.container{
  width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
}
ul,ol{
  padding-left: 0;
  margin: 0;
  list-style: none;
}
h1,h2,h3,p{
  margin: 0;
}
a{
  text-decoration: none;
}
img{
  display: block;
}
header{
    border-bottom:1px solid #E5E5E5;
}
.header__wrapper{
    display: flex;
    justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
}
.header__link{
    font-family: Libre Baskerville;
font-weight: 700;
font-size: 12px;
color: #7d7d7d;
line-height: 100%;
letter-spacing: 2.57px;
text-align: right;
}